body{
    background-color:#FFFFFF;
}

#chris{
    width:240px;
    float: left;
}

#banner{
    width:960px;
    margin-left: auto;
    margin-right: auto;
}
#cont2{
    background-color:#dbc9df;

}
#cont3{
    background-color: #782a7e;

}

footer{
    background-color:#363636;
}